{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
	{% include "components/navbar.html.twig" %}

	


       <div class="d-flex row text-center align-items-center split justify-content-center">

             <h1 class="weare col-12 nsl5">We are:</h1>

	
	 
		GABRIEL SKRABA: Design/Frontend/Backend<br>
		 <p class="twoc">E-mail: gabriel.skraba6@gmail.com<p><br> 
               

	

	</div>

       
       
{% endblock %}